@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body, html {
    font-family: 'Inconsolata', monospace !important;

    width: 100%;
    height: 100%;
    text-align: center;
    color: white !important;
    letter-spacing: 0.5em;

    background: linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.45)
    ), url(../images/img043.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    text-align: center;
}

h1, h2 {
    background-color: rgba(18, 18, 18, 1);
    padding: 10px;
    margin-bottom: 10px !important;
}

h3, span.timer {
    /*color: black !important;*/
}

button {
    letter-spacing: 0.5em;
    background-color: #121212;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase !important;
    -webkit-box-shadow: 0px 3px 0px #c4c4c4;
    -moz-box-shadow: 0px 3px 0px #c4c4c4;
    -ms-box-shadow: 0px 3px 0px #c4c4c4;
    -o-box-shadow: 0px 3px 0px #c4c4c4;
    box-shadow: 0px 3px 0px #c4c4c4;
}

button:active {
    position: relative;
    top: 3px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: All 250ms ease;
    -moz-transition: All 250ms ease;
    -o-transition: All 250ms ease;
    -ms-transition: All 250ms ease;
    transition: All 250ms ease;
}

.steps-wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/*@media only screen and (max-width: 600px) {*/
    /*.steps-wrapper .step-wrapper .step {*/
        /*padding: 0 5%;*/
    /*}*/
/*}*/

.steps-wrapper .step-wrapper {
    height: 100%;
    width:100%;
    display: table;
}

.steps-wrapper .step-wrapper .step {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10%;
}

.steps-wrapper .step:not(:first-child){
    /*display: none;*/
}

.blink_me {
    animation: blinker 500ms linear infinite;
}

.blink_me_limited {
    animation-name: blinker;
    animation-duration: 500ms;
    animation-timing-function: linear;
    /*animation-delay: 0s;*/
    animation-iteration-count: 4;
    /*animation-direction: alternate;*/
}

@keyframes blinker {
    50% { opacity: 0; }
}

.timer{
    visibility: hidden;
    display: block;
    margin-bottom: 20px;
    letter-spacing: 0.2em;
}

.progress {
    margin-bottom: 5px !important;
}

#push-wrapper {
    display: block;
    padding: 20px 0;
}

#push-wrapper select {
    color: black;
}